name: Docker Image CI ARM64

on:
 workflow_dispatch: # 手动在 GitHub Actions 页面点击运行

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
          - name: Checkout main
            uses: actions/checkout@v3
            with:
              ref: main
          
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v2
            
          - name: Build and publish image
            uses: elgohr/Publish-Docker-Github-Action@v5
            with:
              name: junlinwu/epic-awesome-gamer # dockerid/imageName
              platforms: linux/arm64
              dockerfile: ./docker/Dockerfile
              tags: latest
              username: ${{ secrets.DOCKERHUB_USERNAME }} # docker hub userid 在setting创建secrets name=DOCKER_USERNAME  value=dockerid
              password: ${{ secrets.DOCKERHUB_TOKEN }} # docker hub password,在setting创建secrets name=DOCKER_PASSWORD  value=dockerpassword
